.requests {

    .circle {
        width: 10px;
        height: 10px;
        background-color: #c2b560;
        background-size: cover;
        display: block;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }

    .item {
        // padding-left: 0px;
        border-bottom: 1px solid #c8c7cc;
    }

    ion-list .item .item-inner {
        padding-left: 10px;
    }
    
    scroll-content {
        padding-top: 44px;
        padding: 0px;
    }
    
    ion-list .item .item-inner {
        border: 0;

        h2 {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        h3 {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .desc {
            color: black;
            margin-top: 8px;
            margin-bottom: 0px !important;
            display: block;
            word-break: break-all;
            @include multiLineEllipsis($lineHeight: 1.4em, $lineCount: 2, $bgColor: white);  
        }
    }

    ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
    }

    ion-avatar{
        min-height: 15px;
        min-width: 15px;
    }

    ion-avatar[item-left]{
        margin:0px;
    }
}
