.requests {

    background-image: url('img/Yachtsy_Icon_Blue_300ppi.jpg');

    .opaque {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    // backdrop-filter: saturate(180%) blur(20px);
    }

    .opaque .toolbar-background {
    background-color: rgba(#f8f8f8, 0.55);
    }

}
