.signup {

    .item .item-inner {
        border: 0;
    }

    .toolbar-background {
        display: none;
        background-color: #fff;
    }



}

    .pac-container:after{
        content:none !important;
    }


.pac-container:after{
    content:none !important;

}

.pac-container {
    left: 16px;
}

.loc_input {
    min-height: 4.4rem;
    background-color: whitesmoke;
    width: 90%;
    border:0px;
    border-radius: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

#map_canvas {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    // background-color : transparent;
}


ion-app._gmaps_cdv_ .nav-decor {
    background-color: rgba(0,0,0,0);
}
.hideme{
    display: none;
}
    