<ion-header>
  <ion-navbar transparent no-border-bottom>
    <ion-title></ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top no-border-bottom class="signup">
    <img width="35%" style="margin-left:auto;margin-right: auto;display:block" src="img/Yachtsy_Icon_Blue_72ppi.png">

    <h5 text-center>{{questions[stepIndex].label}}</h5>

  </ion-toolbar>
</ion-header>

<ion-content padding class="signup">


  <div class="Aligner">
    <div class="Aligner-item">

      <div [hidden]="stepIndex !== 1">

        <ion-list no-lines>
          <button ion-item *ngFor="let item of categoryGroupKeys" (click)="next(item)">
                {{item}}
        </button>
        </ion-list>

      </div>

      <div *ngIf="stepIndex === 2">

        <ion-list no-lines>
          <button ion-item detail-none *ngFor="let item of categoryGroups[answers[questions[1].name]].categories" (click)="next(item)">
              {{item.name}}
                <ion-icon *ngIf="answers[currentQuestion] && answers[currentQuestion][item.id]" name='checkmark' item-right></ion-icon>
            </button>

        </ion-list>

      </div>

      <div *ngIf="stepIndex === 3">

        <ion-list>
          <button ion-item detail-none *ngFor="let item of relatedServices" (click)="next(item)">
              {{item.name}}
                <ion-icon *ngIf="answers[currentQuestion] && answers[currentQuestion][item.id]" name='checkmark' item-right></ion-icon>
            </button>
        </ion-list>
      </div>

      <div *ngIf="stepIndex === 4">

        <input #myAutocomplete class="loc_input" name="location" type="text" placeholder="Enter location" [(ngModel)]="fromValue">

        <!--<ion-item>
          <ion-label stacked>How far are you willing to travel?</ion-label>
          <ion-select [(ngModel)]="travelPref">
            <ion-option value="10">Up to 10 miles</ion-option>
            <ion-option value="20">Up to 20 miles</ion-option>
            <ion-option value="30">Up to 30 miles</ion-option>
            <ion-option value="50">Up to 50 miles</ion-option>
            <ion-option value="75">Up to 75 miles</ion-option>
            <ion-option value="100">100 miles or more</ion-option>
          </ion-select>
        </ion-item>-->


        <div style="height: 300px" id="map_canvas"></div>

      </div>

      <div *ngIf="stepIndex === 5">


         <ion-list no-lines>
          <button ion-item *ngFor="let item of distancePrefs" (click)="next(item)">
                {{item}}
        </button>
        </ion-list>
        <!--<ion-item>
          <ion-select [(ngModel)]="travelPref">
            <ion-option value="10">Up to 10 miles</ion-option>
            <ion-option value="20">Up to 20 miles</ion-option>
            <ion-option value="30">Up to 30 miles</ion-option>
            <ion-option value="50">Up to 50 miles</ion-option>
            <ion-option value="75">Up to 75 miles</ion-option>
            <ion-option value="100">100 miles or more</ion-option>
          </ion-select>
        </ion-item>-->

      </div>

      <div *ngIf="stepIndex === 6">

        <form [formGroup]="userInfoForm" name="infoForm" (ngSubmit)="onSubmit(userInfoForm.value)">
          <ion-item>
            <ion-input type="text" value="Alex" placeholder="First name" formControlName="firstName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" value="Mady" placeholder="Last name" formControlName="lastName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" value="alexmady@gmail.com" placeholder="Email address" formControlName="email" transparent></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" value="0123456789" placeholder="Phone number" formControlName="telephone" transparent></ion-input>
          </ion-item>

        </form>
      </div>

      <div *ngIf="stepIndex === 7">

        <p>Well done! Your profile has now been created. Please check you email and verify it using the link provided</p>
        <p>Once you have verified your email click the button below to continue </p>
        <p>user email: {{user.email}}</p>
        <p> email verified: {{user.emailVerified}}</p>

        <button block (click)="setupProfile()" [disabled]="!user.emailVerified">
      Continue
      </button>

      </div>

    </div>
  </div>

</ion-content>

<ion-footer>

  <ion-toolbar *ngIf="stepIndex === 2 || stepIndex === 3 || stepIndex === 4 || stepIndex === 5" no-border-top transparent>
    <button royal full (click)="next()">Next</button>
  </ion-toolbar>

  <ion-toolbar *ngIf="stepIndex === 6" no-border-top transparent>
    <button royal full (click)="onSubmit(userInfoForm.value)">Submit Request</button>
  </ion-toolbar>

  <ion-toolbar *ngIf="stepIndex === 0" no-border-top transparent>
    <button royal full (click)="next()">GET STARTED</button>
  </ion-toolbar>

</ion-footer>