// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/login/login";

@import "../pages/forgot/forgot";

@import "../pages/signup-or-login/signup-or-login";

@import "../pages/signup/signup";

@import "../pages/get-started/get-started";

@import "../pages/create-profile/create-profile";

@import "../pages/messages/messages";

@import "../pages/profile/profile";

@import "../pages/requests/requests";

@import "../pages/request-detail/request-detail";

@import "../pages/request-detail/quote-modal";

@import "../pages/quotes/quotes";

@import "../pages/quote-detail/quote-detail";

@import "../pages/hires/hires";

@import "../pages/purchase-credits/purchase-credits";

@import "../pages/tabs/tabs";

@import "../components/chat-bubble/chat-bubble";


ion-page {
  font-family: Avenir;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: Adelle;
  font-style: italic;
  font-size: 1.4rem;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: Adelle;
  font-style: italic;
  font-size: 1.4rem;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: Adelle;
  font-style: italic;
  font-size: 1.4rem;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Adelle;
  font-style: italic;
  font-size: 1.4rem;
}

/* set color for placeholder text of textarea element */
textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: Adelle;
  font-style: italic;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: Adelle;
  font-style: italic;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: Adelle;
  font-style: italic;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Adelle;
  font-style: italic;
}

h2 {
  margin-top: 0px !important;  
}

.logo {
  width: 30%;
  margin-top: 50px;
  margin-bottom: 20px;
}

ion-navbar {
  .button-inner {
    font-size: 1.4rem;
  }
}


.toast-message {
  background: #67c1c6;
  border-radius: 3px;
}

.content-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-center-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;;
}

.content-center-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

ion-item{
  .text-input {
    font-size: large;
  }
}

//makes the paragraph properly wrap the text inside it in multiple lines
p {
  word-wrap: break-word;
  white-space: normal;
}

ion-menu{
  ion-content{
    ion-list{
      ion-icon{
        margin-right: 20px;
        color: #595959;
      }
    }
  }
}

.Aligner {
    display: flex;
    align-items: center;
    min-height: 100%;
    // min-height: 24em;
    justify-content: center;
}

.Aligner-item {
    flex: 1;
}

.gm-style {

  a {
    display: none !important;
  }

  .gmnoprint {
    display: none !important;
  }

  .gmnoscreen {
    display: none !important;
  }

}

