// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import 'globals.core';

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #005677,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);

/*
$toolbar-background: rgb(6, 92, 138);
$toolbar-border-color: rgb(6, 92, 138);

$background-ios-color: rgb(6, 92, 138);
$background-md-color: rgb(6, 92, 138);
$background-wp-color: rgb(6, 92, 138);

$list-ios-background-color: rgb(6, 92, 138);;

$text-input-ios-background-color: rgb(6, 92, 138);;

$text-input-md-background-color: rgb(6, 92, 138);

$list-md-background-color: rgb(6, 92, 138);

$text-input-wp-background-color: rgb(6, 92, 138);

$list-wp-background-color: rgb(6, 92, 138);

// This is the color for the label on an ion-item
$label-ios-text-color: #c2b560;

$item-ios-divider-background:	rgb(6, 92, 138);;
$item-ios-divider-color:	rgb(6, 92, 138);


$text-input-wp-border-color: rgb(6, 92, 138);

*/

$chat-bubble:(
  background-left: #fea21c,
  background-right: #8abefa,
);

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
