<ion-header>
  <ion-navbar>
    <ion-title>HIRES</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="hires">

  <div *ngIf="requests.data && requests.data.length == 0" class="noquote-wrapper">
    <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
    <p>Projects you've been hired for will be located here</p>
  </div>

  <ion-list tappable *ngIf="requests.data && requests.data.length > 0">

    <div tappable *ngFor="let item of requests.data">
      <ion-item *ngIf="!item.cleared" (click)="click(item)">
        <ion-avatar item-left>
          <div [hidden]="item.hiring.suppliers[user.uid].read" class="circle"></div>
        </ion-avatar>

        <h2> <b>{{item.from}}</b></h2>
        <h3>{{item.categoryName}} - {{item.locationName}}</h3>
        <div class="desc" *ngIf="!item.cancelled">Hired: {{item.hiring.suppliers[user.uid].hiredDate | date: 'dd/MM/yy HH:mm' }}</div>
        <div class="desc" *ngIf="item.cancelled">This request was cancelled on {{item.cancelled | date: 'dd/MM/yy HH:mm'}}</div>

        <ion-note item-right>
          <div class="quote-price">${{item.quote.price}}</div>
          <button *ngIf="item.cancelled" (click)="clearRequest($event, item)">CLEAR</button>
        </ion-note>
      </ion-item>
    </div>

  </ion-list>

<!--
  <div *ngFor="let item of hires">
    <ion-card *ngIf="!item.cleared" tappable (click)="click(item)">

      <ion-item>
        <h2>{{item.categoryName}}</h2>
        <button *ngIf="item.cancelled" item-right (click)="clearRequest($event, item)">CLEAR</button>
      </ion-item>

      <ion-card-content *ngIf="!item.cancelled">
         <p>Hired: {{item.hiring.suppliers[user.uid].hiredDate | date: 'dd/MM/yy HH:mm' }}</p>
      </ion-card-content>
      <ion-card-content *ngIf="item.cancelled">
        <p>This request was cancelled on {{item.cancelled | date: 'dd/MM/yy HH:mm'}}</p>
      </ion-card-content>

    </ion-card>
  </div>
-->
</ion-content>