
<ion-content padding class="quote-detail">

  <div #map class="map-wrapper"></div>

  <div class="header-wrapper">
    <button class="prev-button" (click)="back()"><ion-icon name="arrow-back"></ion-icon></button>
    <button *ngIf="isHired" class="more-button" (click)="mark()"><ion-icon name="checkmark"></ion-icon></button>
  </div>

  <div class="profile-wrapper">

    <div class="profile-image"></div>
    <div class="profile-main-wrapper">
      <div class="profile-name">{{userName}}</div>
      <div class="profile-desc">{{request.categoryName}} - {{placeInfo.place}}</div>

      <div class="togglebutton-wrapper">
          <div tappable [ngClass]="(curTab == 0) ? 'toggle-button selected':'toggle-button'" (click)="clickToggle(0);">Quote</div>
          <div tappable [ngClass]="(curTab == 1) ? 'toggle-button selected':'toggle-button'" (click)="clickToggle(1);">Request</div>
      </div>

      <div class="profile-details-wrapper">
        <div *ngIf="curTab == 0">
          <div class="details-set price">${{request.quote.price}}</div>
          <div class="details-set">total price</div>
          <div tappable class="details-set edit" (click)="edit()">Edit</div>
        </div>
        <div *ngIf="curTab == 1">
          <div class="request-title">Request Details</div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="curTab == 0">
    <ion-list no-lines>
        <ion-item *ngFor="let msg of messages">
            <chat-bubble [message]="msg"></chat-bubble>
        </ion-item>
    </ion-list>
  </div>

  <div *ngIf="curTab == 1">
    <ion-item class="request-item" *ngFor="let item of requestBody">

      <div class="request-question">{{item.qu}}</div>
      <div class="request-answer" *ngFor="let ans of item.ans">{{ans}}</div>

    </ion-item>
  </div>

</ion-content>


<!--[ngStyle]="{bottom: footerBottom + 'px'}"-->
<ion-footer no-border-top [ngStyle]="{bottom: footerBottom + 'px'}" *ngIf="curTab == 0">
    <ion-toolbar class="message-bar">
        <ion-input class="message-input chatbox" #chat_input *ngIf="request" [(ngModel)]="message" [disabled]="!isHired" placeholder="Write a message..."></ion-input>
        <div class="button-wrapper">
            <button class="left-button" royal *ngIf="request" (click)="attachMessage($event)">
                Attach
            </button>
            <button class="right-button" royal *ngIf="request" (click)="sendMessage($event)">
                Send
            </button>
        </div>
    </ion-toolbar>
</ion-footer>
