.signup-or-login-page {

    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    ion-header::after, ion-footer::before {
        background: none;    
    }

    ion-content {
        background: none;
        color: white;
        line-height: 3rem;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .toolbar-background {
        background: none;
        border: none;
    }

    ion-toolbar {
        padding: 0px 10px;

        button {
            margin: 0px;
        }
    }
}
