<ion-header>

  <ion-navbar no-border-bottom hideBackButton>
    <ion-title>WELCOME TO YACHTSY</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div *ngIf="isWelcome" class="welcome-wrapper">
    <div class="header-wrapper">
      <div class="header-back"></div>
      <div class="header-text">
        Welcome!<br>
        You'll start receiving customer requests in your inbox soon.<br><br>
        What's next?
      </div>
    </div>

    <div class="desc-wrapper">
      <ion-item>
        <ion-avatar item-left>
          <ion-icon name="ios-ribbon"></ion-icon>
        </ion-avatar>
        <h3>Setup your profile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicinga aliqua. Ullamco laboris nisiut aliquip ex ea.</p>
      </ion-item>

      <ion-item>
        <ion-avatar item-left>
          <ion-icon name="ios-mail"></ion-icon>
        </ion-avatar>
        <h3>Active your email</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicinga aliqua. Ullamco laboris nisiut aliquip ex ea.</p>
      </ion-item>
    </div>

    <button class="button" block (click)="nextWelcome()">Setup Profile</button>
  </div>

  <div *ngIf="!isWelcome">
    <div class="header-wrapper" *ngIf="currentPage.type !== 'photo'">
      <div class="header-back"></div>
      <div class="header-text">
        {{currentPage.title}}
      </div>
    </div>

    <ion-list no-lines>

      <div *ngIf="currentPage.type === 'progress' ">
        <ion-item *ngFor="let item of currentPage.body.items">
          <ion-label>{{item.label}}</ion-label>

          <ion-icon *ngIf="item.checked" name='ios-checkmark-circle' item-right></ion-icon>
          <ion-icon *ngIf="!item.checked" name='radio-button-off' item-right></ion-icon>

        </ion-item>
      </div>

      <div *ngIf="currentPage.type === 'select' ">
        <button ion-item text-wrap detail-none *ngFor="let item of currentPage.body.items" (click)="clicked(item)">
          <ion-icon *ngIf="answers[currentPage.name] && answers[currentPage.name][item.name]" name='ios-checkmark-circle' item-right></ion-icon>
          <ion-icon *ngIf="!answers[currentPage.name] || !answers[currentPage.name][item.name]" name='radio-button-off' item-right></ion-icon>
          
          <ion-label>{{item.label}}</ion-label>
        </button>
     </div>

      <div *ngIf="currentPage.type === 'input'" class="input-wrapper">
        <!--
        <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
        -->
        <form [formGroup]="profileForm" (ngSubmit)="submitForm()">

          <!--<p> {{form.controls[item.name].valid}} </p>-->
          <!--<ion-item text-wrap *ngIf="!form.controls[item.name].valid && (changedFormFields[item.name] || submitAttempt)"  >-->
          <!--<p class="hint">Please enter a valid {{item.label}}.</p>-->
          <!--</ion-item>-->

          <div *ngFor="let item of currentPage.body.items">

            <div class="input-title" [class.err]="!profileForm.controls[item.name].valid && (changedFormFields[item.name] || submitAttempt)" floating>{{item.label}}</div>

            <ion-item tappable>

              <!-- input text box -->
              <!-- [(ngModel)]="answers[currentPage.name][item.label]" -->
              <ion-input *ngIf="item.type === 'text'" formControlName="{{item.name}}" type="text" (change)="elementChanged(item.name)"
                [class.invalid]="!profileForm.controls[item.name].valid && (changedFormFields[item.name] || submitAttempt)">
              </ion-input>

              <!-- input text area -->
              <!--[(ngModel)]="answers[currentPage.name][item.label]"-->
              <ion-textarea rows="4" *ngIf="item.type === 'textarea'" formControlName="{{item.name}}" type="text" (change)="elementChanged(item.name)"
                [class.invalid]="!profileForm.controls[item.name].valid && (changedFormFields[item.name] || submitAttempt)">
              </ion-textarea>

              <!--<ion-item>
                <p *ngIf="item.smalltext">{{item.smalltext}}</p>
              </ion-item>-->
            </ion-item>

          </div>

        </form>
      </div>

    </ion-list>

    <div *ngIf="currentPage.type === 'photo'" class="photo-wrapper">

      <div class="photo-desc">Upload a photo of yourself or your company logo</div>
      <img src="img/default-photo.png" *ngIf="!base64Image" />
      <img [src]="getSafeURL(base64Image)" *ngIf="base64Image" />
      <button class="button" block (click)="takePicture()">Upload</button>

    </div>

  </div>

</ion-content>

<ion-footer *ngIf="!isWelcome">

  <ion-toolbar>
    <ion-buttons start>
      <button (click)="back()"><ion-icon name="ios-arrow-dropleft"></ion-icon></button>
    </ion-buttons>

    <ion-buttons end>
      <button *ngIf="currentPage.type === 'input'" (click)="submitForm()"><ion-icon name="ios-arrow-dropright"></ion-icon></button>
      <button *ngIf="currentPage.type !== 'input' && !currentPage.lastPage" (click)="next()"><ion-icon name="ios-arrow-dropright"></ion-icon></button>
      <button *ngIf="currentPage.lastPage" (click)="save()"><ion-icon name="ios-arrow-dropright"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
<!--
  <button *ngIf="currentPage.type === 'input'" block (click)="submitForm()" >Next</button>
  <button *ngIf="currentPage.type !== 'input' && !currentPage.lastPage" block (click)="next()">Next</button>
  <button *ngIf="currentPage.lastPage" block (click)="save()">Save</button>
-->
</ion-footer>