
<ion-content padding class="request-detail">
<!--
  <ion-item *ngIf="request.quote"> You quoted on this request </ion-item>
-->
  <div #map class="map-wrapper"></div>

  <div class="header-wrapper">
    <button tappable class="prev-button" (click)="back()"><ion-icon name="arrow-back"></ion-icon></button>
    <button tappable class="pass-button" (click)="pass()">Pass</button>
  </div>

  <div class="profile-wrapper">

    <div class="profile-image"></div>
    <div class="profile-main-wrapper">
      <div class="profile-name">{{userName}}</div>
      <div class="profile-desc">{{request.categoryName}} - {{placeInfo.place}}</div>

      <div class="profile-details-wrapper">
        <div class="details-set">
          <div class="details-value">3/5</div>
          <div class="details-desc">Quotes Sent</div>
        </div>

        <div class="details-set">
          <div class="details-value">23h 3m</div>
          <div class="details-desc">Until Request Expires</div>
        </div>

        <div class="details-set">
          <div class="details-value">4</div>
          <div class="details-desc">Credits</div>
        </div>
      </div>

      <div class="request-title">Request Details</div>
    </div>

  </div>

  <ion-item class="request-item" *ngFor="let item of requestBody">

    <div class="request-question">{{item.qu}}</div>
    <div class="request-answer" *ngFor="let ans of item.ans">{{ans}}</div>

  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar no-border-bottom>
    <button class="button" block (click)="quote()" [disabled]="request.quote">Send a Quote</button>
  </ion-toolbar>
</ion-footer>