.forgot-page {

    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    ion-navbar {
        .button-inner {
            color: white;
        }
    }

    .opacity-back {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.5;
    }

    ion-content {
        background: none;
        color: white;
        line-height: 3rem;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;

        scroll-content {
            padding: 0px 20px;
        }

        .item {
            padding: 0px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-shadow: none;
            background-color: #f2f2f2;

            .item-inner {
                border: 0;
                padding: 0px;

                ion-input {
                    padding: 0px 10px;
                    background: none;
                }

                input {
                    margin: 0px;
                    height: 25px;
                    line-height: 25px;
                }
            }
        }

        ion-label {
            font-size: 1.4rem;
            color: white;
            text-align: left;
        }
    }

    .toolbar-background {
        background: none;
        border: none;
    }

    ion-toolbar {
        padding: 0px 10px;

        button {
            margin: 0px;
        }
    }

}

