#mainTabs {

	ion-tabbar {
		background: #0a5b7a;
	}

	ion-tabbar a {
		color: white;
	}

	ion-tabbar a ion-icon {
		color: #c2b560;
	}
/*
	.tab-button:hover:not(.disable-hover), .tab-button[aria-selected=true] {
	 	color: #c2b560;
	}
*/
	.tab-button:hover:not(.disable-hover), .tab-button[aria-selected=true] ion-icon {
	 	color: white;
	}
}