.login {
       .item .item-inner {
        border: 0px;
    }


.item {
    background-color: rgb(6, 92, 138);
}

    background-color: rgb(6, 92, 138);

    .toolbar-background {
    background-color: rgb(6, 92, 138);
    border: none;
    }

    .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
    }
    
}

